{% extends 'blackbook/base.html' %}

{% load djmoney %}
{% load l10n %}

{% block titles %}
    Paycheck
{% endblock %}

{% block breadcrumbs %}
    <li>Paychecks</li>
{% endblock %}

{% block content %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon">
                    <i class="fas fa-chart-line"></i>
                </span>
                <span>Paycheck overview</span>
            </p>
        </header>
        <div class="card-content">
            <div class="chart-area">
                <div style="height: 100%;">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div></div>
                        </div>
                    </div>
                    <canvas id="paycheck-line-chart" width="2992" height="1000" class="chartjs-render-monitor" style="display: block; height: 250px; width: 1197px;"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% for year, year_values in data.items %}
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span>Paychecks - {{ year|unlocalize }}</span>
                </p>
            </div>

            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper">
                        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                            <thead>
                                <th></th>
                                <th></th>
                                <th><div class="has-text-right">January</div></th>
                                <th><div class="has-text-right">February</div></th>
                                <th><div class="has-text-right">March</div></th>
                                <th><div class="has-text-right">April</div></th>
                                <th><div class="has-text-right">May</div></th>
                                <th><div class="has-text-right">June</div></th>
                                <th><div class="has-text-right">July</div></th>
                                <th><div class="has-text-right">August</div></th>
                                <th><div class="has-text-right">September</div></th>
                                <th><div class="has-text-right">October</div></th>
                                <th><div class="has-text-right">November</div></th>
                                <th><div class="has-text-right">December</div></th>
                            </thead>
                            <tbody>
                                {% for category, category_values in year_values.items %}
                                    {% if category != "Sum" %}
                                        {% for item, item_values in category_values.items %}
                                            <tr>
                                                <td>{% if forloop.first %}<b>{{ category }}</b>{% endif %}</td>
                                                <td><b>{{ item }}</td>
                                                {% for month in item_values %}
                                                    <td class="has-text-right">
                                                        {% money_localize month.amount %}
                                                        {% if month.delta.amount != 0 %}
                                                            <br />
                                                            <span class="is-size-7 has-text-{% if month.delta.amount > 0 %}success{% elif month.delta.amount < 0 %}danger{% else %}grey{% endif %}">
                                                                {% if month.delta.amount > 0 %}+{% endif %}{% money_localize month.delta %}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% for category, category_values in year_values.items %}
                                    {% if category == "sum" %}
                                        <tr>
                                            <th></th>
                                            <th class="has-text-right">Total</th>
                                            {% for month in category_values %}
                                                <th class="has-text-right">
                                                    {% money_localize month.amount %}
                                                    <br />
                                                    <span class="is-size-7 has-text-{% if month.delta.amount < 0 and month.amount.amount != 0 %}danger{% elif month.delta.amount > 0 and month.amount.amount != 0 %}success{% else %}grey{% endif %}">
                                                        {% if month.amount.amount != 0 %}
                                                            {% if month.delta.amount > 0 %}+{% endif %}{% money_localize month.delta %}
                                                        {% else %}
                                                            {% money_localize month.amount %}
                                                        {% endif %}
                                                    </span>
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>  
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
    let payCheckChartCTX = document.getElementById("paycheck-line-chart").getContext("2d");
    new Chart(payCheckChartCTX, {{ chart|safe }});
{% endblock javascript %}