{% load navigationtags %}

{% for account_type in account_types %}
    <li>
        <a href="{% url "blackbook:accounts" account_type.category %}" class="has-icon {% is_active account_type.category %}">
            <span class="icon">
                <i class="fas {% if account_type.category == "assets" %}fa-landmark{% elif account_type.category == "liabilities" %}fa-file-invoice-dollar{% elif account_type.category == "expenses" %}fa-coins{% else %}fa-donate{% endif %}"></i>
            </span>
            <span class="menu-item-label">{{ account_type.category|capfirst }}</span>
        </a>
    </li>
{% endfor %}