{% extends 'blackbook/base.html' %}

{% load formtags %}
{% load iban %}
{% load djmoney %}
{% load humanize %}

{% block title %}
    Transactions
{% endblock title %}

{% block breadcrumbs %}
    <li>Transactions</li>
    {% if transaction.id is not None %}
        <li>Edit transaction</li>
    {% else %}
        <li>Add transaction</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-file-invoice"></i>
                        </span>
                        <span>
                            {% if transaction.id is not None %}
                                Edit transaction
                            {% else %}
                                Add transaction
                            {% endif %}
                        </span>
                    </p>
                </header>
                <div class="card-content">
                    <form method="post" action="">
                        {% csrf_token %} 

                        {% form_field transaction_form.description %}
                        {% form_field transaction_form.date %}
                        {% form_field transaction_form.transaction_type %}

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Amount</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    {{ transaction_form.amount }}
                                </div>
                            </div>
                        </div>

                        <hr />
                        {% form_field transaction_form.category %}
                        {% form_field transaction_form.budget %}
                        {% form_field transaction_form.tags None "fa-tags" %}
                        <hr />
                        {% form_field transaction_form.from_account None "fa-landmark" %}
                        {% form_field transaction_form.to_account None "fa-landmark" %}
                        <hr />
                        {% form_field transaction_form.display "Display after save" %}
                        {% form_field transaction_form.add_new "Return after save" %}
                        <hr />
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" name="profile_submit" class="button is-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-file-invoice"></i>
                        </span>
                        <span>Transaction information</span>
                    </p>
                </header>
                <div class="card-content"> 
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.description|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Date</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.date|date:"d b Y"|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Category</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None and transaction.journal_entry.category is not None %}
                                        <span class="tag is-success">
                                            <span class="icon">
                                                <i class="fas fa-hashtag"></i>
                                            </span>
                                            <span>{{ transaction.journal_entry.category.name }}</span>
                                        </span>
                                    {% else %}
                                        <input type="text" readonly value="-" class="input is-static">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Budget</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None and transaction.journal_entry.budget is not None %}
                                        <span class="tag is-warning">
                                            <span class="icon">
                                                <i class="fas fa-chart-pie"></i>
                                            </span>
                                            <span>{{ transaction.journal_entry.budget.budget.name }}</span>
                                        </span>
                                    {% else %}
                                        <input type="text" readonly value="-" class="input is-static">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Amount</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None %}
                                        <input type="text" readonly value="{% money_localize transaction.journal_entry.amount %}" class="input is-static">
                                    {% else %}
                                        <input type="text" readonly value="-" class="input is-static">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Transaction type</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.get_transaction_type_display|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Tags</label>
                                <div class="control is-clearfix">
                                    <span class="tags">
                                        {% if transaction.id is not None and transaction.journal_entry.tags.count != 0 %}
                                            {% for tag in transaction.journal_entry.tags.all %}
                                                <span class="tag is-info">
                                                    <span class="icon">
                                                        <i class="fas fa-tag"></i>
                                                    </span>
                                                    <span>{{ tag.name }}</span>
                                                </span>
                                            {% endfor %}
                                        {% else %}
                                            <input type="text" readonly value="-" class="input is-static">
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">From account</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None and transaction.journal_entry.from_account is not None %}
                                        <a href="{% url "blackbook:accounts" transaction.journal_entry.from_account.account_type.slug transaction.journal_entry.from_account.slug %}">
                                            <span class="tag is-dark">
                                                <span class="icon">
                                                    <i class="fas {{ transaction.journal_entry.from_account.account_type.icon }}"></i>
                                                </span>
                                                <span>{{ transaction.journal_entry.from_account.name }}</span>
                                            </span>
                                        </a>
                                    {% else %}
                                        <span class="tag is-dark">
                                            <span class="icon">
                                                <i class="fas fa-coins"></i>
                                            </span>
                                            <span>External account (untracked)</span>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">To account</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None and transaction.journal_entry.to_account is not None %}
                                        <a href="{% url "blackbook:accounts" transaction.journal_entry.to_account.account_type.slug transaction.journal_entry.to_account.slug %}">
                                            <span class="tag is-dark">
                                                <span class="icon">
                                                    <i class="fas {{ transaction.journal_entry.to_account.account_type.icon }}"></i>
                                                </span>
                                                <span>{{ transaction.journal_entry.to_account.name }}</span>
                                            </span>
                                        </a>
                                    {% else %}
                                        <span class="tag is-dark">
                                            <span class="icon">
                                                <i class="fas fa-coins"></i>
                                            </span>
                                            <span>External account (untracked)</span>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Parent transaction ID</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.uuid|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Created</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.created|naturaltime|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Child transaction ID</label>
                                <div class="control is-clearfix">
                                    {% if transaction.id is not None %}
                                        <input type="text" readonly value="{% for child_transaction in transaction.journal_entry.transactions.all %}{{ child_transaction.uuid }}{% if not forloop.last %}, {% endif %}{% endfor %}" class="input is-static">
                                    {% else %}
                                        <input type="text" readonly value="-" class="input is-static">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Modified</label>
                                <div class="control is-clearfix">
                                    <input type="text" readonly value="{{ transaction.journal_entry.modified|naturaltime|default:"-" }}" class="input is-static">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}